.taco-generator {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.greeting {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.taco-display {
  height: 256px;
  margin-bottom: 16px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 8px;
}

.taco-display > p {
  margin: 16px;
  font-size: 1.25em;
}

.taco-generator > button {
  align-self: center;
}

.generate-btn {
  background: unset;
  align-self: center;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: solid thin rgb(0, 0, 0);
  border-radius: 32px;
  font-size: 1em;
}

.generate-another-btn {
  background: unset;
  align-self: center;
  border: unset;
  font-size: 1em;
}
