.taco-generator {
  height: 100%;
  max-width: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.taco-display {
  margin-bottom: 16px;
}

.greeting {
  position: sticky;
  margin-bottom: 16px;
  font-size: 1.25em;
}

.taco-display > div {
  min-height: 128px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 8px;
}

.generation-msg,
.display-text {
  margin: 16px;
  font-size: 1.25em;
}

.generator-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: unset;
}
