header {
  background-color: white;
  grid-row: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: solid 1px rgb(0, 0, 0);
  z-index: 1;
}

.app-title {
  font-size: 1.25em;
}

.favorites-btn {
  width: 32px;
}
