header {
  background: radial-gradient(rgb(255, 255, 255) 0%, rgb(250, 250, 250) 100%);
  grid-row: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 -1px 4px rgb(0, 0, 0, .50);
  z-index: 1;
}

.app-title > h1 {
  font-size: 1.25em;
  font-weight: 600;
}

.view-favorites {
  display: flex;
}

.view-favorites > img {
  width: 36px;
  align-self: center;
}
