* {
  margin: unset;
  padding: unset;
  font-family: 'Open Sans';
  text-decoration: unset;
  color: rgb(0, 0, 0)
}

html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
